<html>
<head>
	<title>LookAtMe</title>
	<link rel="stylesheet" href="/s/css/foundation.css">
	<link rel="stylesheet" href="/s/css/normalize.css">
	<link rel="stylesheet" href="/s/css/look.css" media="screen">
	<meta charset="utf-8">
</head>
<body>
	<div class="page">
		<div class="top">
				<div class="words">
					「你能听到我的心在砰砰跳，<br>
						你却假装什么都不知道。」
				</div>
				<div class="logo">
					<img src="http://placehold.it/300x150&text=300x150LOGO">
				</div>
		</div>
		<div class="bottom">
			<div class="login-fm">
				<div>
					<button class="btn">Login</button>
					<button class="btn">sign up</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>